# Blackjack analysis

Goal: To find out a better strategy for insurance

- Dealer strategy 
Draw until hard 17

- Player1 strategy
Draw until soft 17, never buy insurance

- Player2 strategy
Draw until soft 17, buy insurance when hand card is larger than 17

In [1]:
import pandas as pd

In [2]:
%store -r dealer_money
%store -r player1_money
%store -r player2_money

no stored variable dealer_money
no stored variable player1_money
no stored variable player2_money

In [3]:
#dealer_money, player1_money, player2_money

In [4]:
dealer = -4539.5
player1 = 4319
player2 = 520.5

In [5]:
df = pd.read_csv('Blackjack1')

In [6]:
df.sample(10)

,Game,Dealer_hand,Player1_hand,Player2_hand,Dealer_result,Player1_result,Player2_result,Player1_insurance,Player2_insurance,Dealer_blackjack,Player1_blackjack,Player2_blackjack
54465,Game54466,"[2, 8, 5, 2, 10]","[6, 10, 5]","[4, 10, 6]","['L', 'L']",W,W,0,0,0,0,0
37373,Game37374,"[2, 9, 8]","[3, 2, 'A']","[10, 4, 2, 10]","['L', 'W']",W,L,0,0,0,0,0
68679,Game68680,"[8, 10]","[10, 8]","[6, 4, 3, 10]","['T', 'W']",T,L,0,0,0,0,0
57713,Game57714,"[10, 'A']","[2, 10, 7]","[9, 9]","['W with blackjack', 'W with insurance']",L with blackjack,L with insurance,0,1,1,0,0
97795,Game97796,"[10, 7, 5]","[3, 4, 10, 10]","[10, 8]","['L', 'L']",W,W,0,1,0,0,0
41945,Game41946,"[9, 'A', 10]","[10, 10]","[8, 2, 2, 10]","['T', 'W']",T,L,0,0,0,0,0
42446,Game42447,"[2, 4, 4, 6, 3]","[7, 10, 10]","[3, 4, 5, 3, 4]","['W', 'T']",L,T,0,0,0,0,0
40929,Game40930,"[3, 3, 10, 7]","[6, 10, 8]","['A', 10]","['L', 'L with blackjack']",W,W with blackjack,0,0,0,0,1
31253,Game31254,"[10, 3, 2, 7]","[10, 3, 10]","[5, 7, 4, 8]","['L', 'L']",W,W,0,0,0,0,0
19013,Game19014,"[4, 10, 10]","[6, 4, 5, 6]","['A', 7]","['L', 'L']",W,W,0,0,0,0,0

In [7]:
df.Dealer_result.value_counts()

['L', 'L']                                                          25671
['W', 'W']                                                          24147
['W', 'L']                                                           9477
['L', 'W']                                                           9241
['T', 'W']                                                           4948
['W', 'T']                                                           4918
['T', 'L']                                                           3508
['L', 'T']                                                           3312
['W with blackjack', 'W with blackjack']                             2907
['L with blackjack', 'W']                                            1966
['W', 'L with blackjack']                                            1949
['L with blackjack', 'L']                                            1934
['L', 'L with blackjack']                                            1907
['W with blackjack', 'W with insurance']                             1368
['T', 'T']                                                           1177
['T', 'L with blackjack']                                             498
['L with blackjack', 'T']                                             465
['W with blackjack', 'T with both blackjack and insurance']           204
['L with blackjack', 'L with blackjack']                              164
['T with both blackjack', 'W with blackjack']                         140
['T with both blackjack', 'W with insurance']                          83
['T with both blackjack', 'T with both blackjack and insurance']       15
Name: Dealer_result, dtype: int64

In [8]:
df.Player1_result.value_counts()

L                        40491
W                        40131
T                        10131
W with blackjack          4529
L with blackjack          4479
T with both blackjack      238
Name: Player1_result, dtype: int64

Finding one: Soft/hard 17 have similar win rate, the difference is from blackjack. Dealer have to pay double for blackjack, therefore they must have other rules to counter balance the odd.

In [9]:
df.Player2_result.value_counts()

W                                      40590
L                                      40302
T                                       9872
W with blackjack                        4518
L with blackjack                        3047
L with insurance                        1451
T with both blackjack and insurance      219
Name: Player2_result, dtype: int64

In [10]:
df.Player2_insurance.value_counts()

0    86616
1    13383
Name: Player2_insurance, dtype: int64

How many time does player2 buy the insurance and dealer is indeed blackjack?

In [11]:
len(df[df.Dealer_blackjack==1])

4717

In [12]:
len(df[df.Player2_insurance==1])

13383

In [13]:
len(df[(df.Player2_insurance==1) & (df.Dealer_blackjack==1)])

1670

In [14]:
len(df[(df.Player2_insurance==1) & 
       (df.Dealer_blackjack==0) & 
       ((df.Player2_result=='W with blackjack') | 
        (df.Player2_result=='W'))])

6295